# Ignore Main Files that don't have an extension (executables)
*main*

# Main Has an extension, it's probably code. Keep It
!*main*.*

# Ignore all files that don't have an extension
!*.*

# Ignore Python Compiled Bytecode


# Ignore The Tests Dir
tests

# Ignore the Unrelated Files Directory as it's unrelated
Unrelated-Files

# Ignore Executables or Compiled files
*.exe
*.out
*.pyc
*.class
*.o
*.so
*.dll


# Ignore env files
.env
.env.*

# Ignore the virtual environment
venv

recipes.bin